h2 {
  color: #276DC2;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

h3 {
  color: #276DC2;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12;
}

.topicsList .topic {
    font-family: 'Roboto Slab', serif;
    line-height: 40px;
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 2px 80px;
    background-position: left 100%;
        background-position-y: 100%;
    border-bottom: 1px solid #BFC2C5;
    -webkit-transition-property: background-position;
    transition-property: background-position;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.topicsList .topic.current {
    font-family: 'Roboto Slab', serif;
    background-color: #276DC2;
    color: #ffffff;
    border: 0;
}

.btn-primary, .btn-success, .btn-info {
    color: #ffffff;
    background-color: #276DC2;
    background-image: none;
    border: none;
    font-family: 'Roboto Slab', serif;
}

.btn-default {
    color: #ffffff;
    background-color: #276DC2;
    background-image: none;
    border: none;
    font-family: 'Roboto Slab', serif;
}
